@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-customColor {
    background-color: #2d545e; /* Example: Custom background color */
  }

  .bg-clearImage {
    background-color: #c89666
  }
  .bg-radiant {
    background-image: linear-gradient(90deg, #2d545e 0%, #12343b 74%);

  }
  .bg-radiant-tan {
    background-image: linear-gradient(180deg, #c89666 0%, #e1b382 100%);
    
  }


  .bg-main {
    background-color:  #e1b382
  }


 